<%= link_to 'â† All Blog Posts', blog_root_path, class: 'blog-return'  %>

<% title @post.title %>
<%# description @post.description.to_s %>

<%= content_tag(:article, id: "blog_post_#{@post.id}", class: "blog_post") do %>

  <%# Render the header for this blog post %>
  <%= render "spree/blog/posts/post_head", post: @post %>

  <%#= render "spree/blog/posts/blogger_information", post: @post %>

  <%# Render the body of this blog post (as Markdown) %>
  <%= format_content(@post.body) %>

  <p pubdate='true' class='blog_post__published_at'><%= @post.created_at.strftime("%B #{@post.created_at.day.ordinalize} %Y") %> </p>

  <%= render "spree/blog/posts/tags", post: @post, locals: {is_head: @is_head = false}%>

  <%# Render info about the person who wrote this post %>
  <%= share_bar_for_post @post %>

  <%# Render the no. of comments %>
  <%= render "spree/blog/posts/comments_count", post: post if defined?(show_comments_count) and show_comments_count %>

  <%= render "spree/blog/posts/related", post: @post %>

  <%= comments_for_post @post %>

<% end %>

<%#= debug @post %>
