<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%=t :prohibited_this_post_from_being_saved, scope: 'blog.admin.posts', count: @post.errors.count%></h2>

    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= f.field_container :title, class: ['form-group'] do %>
  <%= f.label :title, t(:post_title, scope: "blog.admin.posts") %> <span class="required">*</span>
  <%= f.text_field :title :slug, placeholder: t(:give_your_post_a_title, scope: 'blog.admin.posts'), :class => 'form-control', :required => true %>
<% end %>

<!-- <a class="btn btn-primary" id="slug-slime"><span class="glyphicon glyphicon-hand-down"></span></a>
<%#= f.field_container :slug, class: ['form-group'] do %>
  <%#= f.label :slug, t(:post_slug, scope: "blog.admin.posts") %> <span class="required">*</span>
  <%#= f.text_field :slug, :class => 'form-control', :required => true %>
<%# end %> -->

<%= f.field_container :description, class: ['form-group'] do %>
  <%= f.label :description, t(:post_description, scope: "blog.admin.posts") %> <span class="required">*</span>
  <%= f.text_area :description, placeholder: t(:write_a_brief_overview_of_your_post, scope: 'blog.admin.posts'), :class => 'form-control', :required => true %>
<% end %>

<%= f.field_container :body, class: ['form-group'] do %>
  <%= f.label :body, t(:post_body, scope: 'blog.admin.posts') %> <span class="required">*</span>
  <%= f.bootsy_area :body %>
<% end %>

<%= f.field_container :tag_list, id: "new_blog_post_tag_field", class: ['form-group'] do %>
  <%= f.label :tag_list, t(:tags, scope: 'blog.admin.posts') %> <span class="required">*</span>
  <%= f.text_field :tag_list, value: f.object.tags.join(", "), placeholder: t(:tag_placeholder, scope: 'blog.admin.posts'), :class => 'form-control', :required => true %>
<% end %>

<%= f.field_container :state, id: "new_blog_post_state_field", class: ['form-group'] do %>
  <%= f.label :state, t(:state, scope: 'blog.admin.posts') %> <span class="required">*</span>
  <%= f.collection_select(:state, blog_conf.active_states + blog_conf.hidden_states, :to_s, :to_s, {}, { class: 'form-control', :required => true }) %>
<% end %>
