<h1><%= content_tag(:span, t(:blog_title, scope: 'blogit')) %></h1>

<% if params[:tag] %>
  <h2 class="blogit_header--page">
    <%= t(:showing_posts_tagged_with, scope: "blogit.posts", tag: params[:tag])  %>
  </h2>
<% end %>

<div class="blogit_posts_list row">
  <% if @posts.any? %>
    <%= render partial: "spree/blogit/posts/post",
      collection: @posts,
      spacer_template: "blog_post_spacer",
      locals: {
        show_comments_count: (SpreeBlogit.configuration.include_comments == :active_records)
      }  %>
  <% else %>

    <%= render partial: "spree/blogit/posts/empty" %>

  <% end %>
</div>

<%= render "pagination" %>
