<%= content_tag :article, id: "blog_post_#{post.id}", class: 'blog_post is_list is_admin' do %>
  <h1 class="blog_post_header"><%= link_to(post.title, edit_admin_blog_post_path(post)) %></h1>

  <%= muted_text class: "blog_post-blogger_info" do %>
    <%= t :written_by, scope: 'blogit.admin.posts', author: post.blogger_display_name %>
    <%= time_tag(post.created_at, pubdate: true, format: blogit_conf.datetime_format) %>
  <% end %>

  <%= render 'spree/admin/blogit/posts/post_description', post: post %>

  <%= content_tag :p, comments_count_for_post(post), :class => 'comments_count' %>
  <%= content_tag :p, "State: #{post.state}", :class => 'state' %>
<% end %>
